<table style="margin: auto">
    <tbody>
        <td>
<div class="demotext">
    <table class="blueTable">
      <thead>
        <th>Problem Id</th>
        <th>Problem Name</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let p of problems">
          <td>{{p.problemId}}</td>
          <td>{{p.problemTitle}}</td>      
         <td><button class="myButton">Launch</button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  </td>
  </tbody>
</table>  