<!-- <app-company-information></app-company-information>
<br>
<app-placement-important-topics></app-placement-important-topics>
<br>
<app-add-problem-statement></app-add-problem-statement>
<br>
<br>
<app-problem-statements></app-problem-statements> -->

<!-- <app-placement-tips></app-placement-tips> -->
<!-- <app-webinar-ads></app-webinar-ads> -->

<!-- <div  *ngIf="load">
    <app-login></app-login>
</div>
<div *ngIf="!load">
<app-log-up></app-log-up>
</div> -->
<!-- <app-display-user-details></app-display-user-details> -->

<!-- <app-login></app-login> -->
<!-- <app-register-user></app-register-user> -->
<!-- <app-placement-tips></app-placement-tips>
 <app-webinar-ads></app-webinar-ads>
 <app-log-up></app-log-up> 
 <app-login></app-login>  -->
