



body{
    padding:50px 0px 0px 0px;
    z-index:0;
    background-color: aliceblue;
}

.pointercurser{
    cursor: pointer;
}

.card{
    padding: 1% 1% 1% 1% ;
    background-color: aliceblue;
}
h3{
    font-size:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}
