<form class="myButton">
    <div class="demotext" style="color:white;text-align: center;">
      <h1>Enter Atleast 1 problem with Answer</h1>
      <p>Please fill in this form to create a problem statement.</p>
      <hr>
      <label ><b>Title</b></label><br>
      <input type="text" placeholder="Enter Title" id="problemTitle" size="80" required 
      [(ngModel)]="problem.problemTitle" name="problemTitle" #problemTitle="ngModel"><br>
       <br>
      <label ><b>Problem statement</b></label><br>
      <textarea cols="75" rows="10"  placeholder="Enter Problem statement" id="problemStatement" required
      [(ngModel)]="problem.problemStatement" name="problemStatement" #problemStatement="ngModel"></textarea><br>
      <br>
      <div>
      <label ><b>Input</b></label><br>
      <textarea cols="75"  rows="10"   placeholder="Enter Input" id="input" required
      [(ngModel)]="problem.input" name="input" #input="ngModel"></textarea><br>
      <br>
      <label ><b>Output</b></label><br>
      <textarea cols="75"  rows="10"    placeholder="Output" id="output" required
      [(ngModel)]="problem.output" name="output" #output="ngModel"></textarea><br>  
    </div>
      <br>
      <label ><b>Write program for sample</b></label><br>
      <textarea cols="75"  rows="20"    placeholder="Write program" id="program" required
      [(ngModel)]="problem.program" name="program" #program="ngModel"></textarea><br><br>
      <br>
      <label>Select language:</label><br>

      <select id="language" required
      [(ngModel)]="problem.language" name="language" #language="ngModel">
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
      </select><br><br>
      <label ><b>Description(optional)</b></label><br>
      <textarea cols="75" name="comments" rows="10"    placeholder="Enter Description"  id="description"
      [(ngModel)]="problem.description" name="description" #description="ngModel"></textarea>
      <hr>
      <br>
      <button type="button" class="myButton" (click)="addProblem()" >Add</button>

    </div>
  
