.demotext {
    font-size: 16px;
    font-family: Georgia, serif;
    background: #996D6D;
    text-shadow: #474747 3px 5px 2px;
    color: black;
    background: #ADECFF;
    }
    .myButton {
      color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
      .myButton:hover {
      background: #1C6EA4; }
      .myButton:active {
      background: #ADECFF; }
      .demotext {
          font-size: 16px;
          font-family: Georgia, serif;
          background: #996D6D;
          text-shadow: #474747 3px 5px 2px;
          color: black;
          background: #1C11FF;
          }