
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body> 
<!-- for temp-problem Statement -->

    <div class="jumbotron" style="text-align:center;padding: 1% ;">
        <h1>Problem Statement Details-TO Accept New Entry</h1>
                <p>Please select Entry to Show Record </p>
    </div>
    <hr>
    
    <div class="container">
        <div class="row">
            

            <div class="col col-6">
                <div class="Container">
                    <!-- <div class="jumbotron">  -->
                        
                    <div class="row">
                  
                      <div class="col col-sm-5 col-5">
                  
                      </div>     
                      <table class="table table-dash ">
                        <tr>
                          <td>Problem Title</td>
                          <td>Show Record</td>
                          <td>Approve</td>
                          <td>Reject</td>                          
                        </tr>
                          <tr *ngFor="let prb of allProblem">
                            <td>{{prb.problemTitle}}</td>                                      
                            <td>
                              <a class="btn" (click)="show(prb)">
                                <i class="fa fa-eye"></i>
                              </a>
                            </td>
                            <td>
                              <a class="btn" (click)="Approve(prb,prb.id)">
                                <i class="fa fa-check"></i>
                              </a>
                            </td>
                            <td>
                              <a class="btn text-danger" (click)="delete(prb.id)">
                                <i class="fa fa-close"></i>
                              </a>
                            </td>
                          </tr>
                        </table>
                    
                  
                      </div>
                  
                  <!-- </div> -->
                </div>
            </div>

            <div class="col col-6">
                
              <div class="formclass">
                  <div class="">                
                  <form >
                      <div class="container">
                      <label ><b>problemTitle</b></label>
                      <input type="text" placeholder="Enter Heading Name" name="Heading"  [(ngModel)]="addProblemStatementService.CurrentProblem.problemTitle"  required>
                            
                      <label ><b>problemStatement</b></label>
                      <textarea  name="problemStatement" rows="4" cols="100" [(ngModel)]="addProblemStatementService.CurrentProblem.problemStatement"></textarea>
                      
                      <label ><b>input</b></label>
                      <textarea  name="input" rows="4" cols="100" [(ngModel)]="addProblemStatementService.CurrentProblem.input"></textarea>

                      <label ><b>output</b></label>
                      <textarea  name="output" rows="4" cols="100" [(ngModel)]="addProblemStatementService.CurrentProblem.output"></textarea>

                      <label ><b>program</b></label>
                      <textarea  name="program" rows="4" cols="100" [(ngModel)]="addProblemStatementService.CurrentProblem.program"></textarea>

                      <label ><b>language</b></label>
                      <input type="text" placeholder="Enter language " name="language"  [(ngModel)]="addProblemStatementService.CurrentProblem.language"  required>

                      <label for="lastname"><b>description</b></label>
                      <textarea  name="description" rows="4" cols="100" [(ngModel)]="addProblemStatementService.CurrentProblem.description"></textarea>
                      <hr>
                      <!-- <button  type="submit" class="registerbtn" (click)="create(problemStatementsService.CurrentProblem)">Save</button> -->
                      </div>
                      
                  </form>
                  
          </div>
      </div>
          </div>
        </div>
    </div>
    <hr>
    
    
<!-- for problem Statement -->
        

        <div class="jumbotron" style="text-align:center;padding: 1% ;">
          <h1>Problem Statement Details - TO Visit Previous Entry</h1>
                  <p>Please select Entry to Show, Edit or Delete Record </p>
      </div>
      <hr>
      
      <div class="container">
          <div class="row">
              
  
              <div class="col col-6">
                  <div class="Container">
                      <!-- <div class="jumbotron">  -->
                          
                      <div class="row">
                    
                        <div class="col col-sm-5 col-5">
                    
                        </div>     
                        <table class="table table-dash ">
                          <tr>
                            <td>Problem Title</td>
                            <td>Show/Edit</td>
                            <td>Reject</td>                          
                          </tr>
                            <tr *ngFor="let prb of allProblem1">
                              <td>{{prb.problemTitle}}</td>                                      
                              <td>
                                <a class="btn" (click)="edit(prb)">
                                  <i class="fa fa-eye"></i>&nbsp;<b>/</b>&nbsp;<i class="fa fa-edit"></i>
                                </a>
                              </td>
                              <td>
                                <a class="btn text-danger" (click)="delete_Problem(prb.id)">
                                  <i class="fa fa-trash"></i>
                                </a>
                              </td>
                            </tr>
                          </table>
                      
                    
                        </div>
                    
                    <!-- </div> -->
                  </div>
              </div>
  
              <div class="col col-6">
                  
                <div class="formclass">
                    <div class="">                
                    <form >
                        <div class="container">
                        <label ><b>problemTitle</b></label>
                        <input type="text" placeholder="Enter Heading Name" name="Heading"  [(ngModel)]="problemservice.CurrentProblem.problemTitle"  required>
                              
                        <label ><b>problemStatement</b></label>
                        <textarea  name="problemStatement" rows="4" cols="100" [(ngModel)]="problemservice.CurrentProblem.problemStatement"></textarea>
                        
                        <label ><b>input</b></label>
                        <textarea  name="input" rows="4" cols="100" [(ngModel)]="problemservice.CurrentProblem.input"></textarea>
  
                        <label ><b>output</b></label>
                        <textarea  name="output" rows="4" cols="100" [(ngModel)]="problemservice.CurrentProblem.output"></textarea>
  
                        <label ><b>program</b></label>
                        <textarea  name="program" rows="4" cols="100" [(ngModel)]="problemservice.CurrentProblem.program"></textarea>
  
                        <label ><b>language</b></label>
                        <input type="text" placeholder="Enter language " name="language"  [(ngModel)]="problemservice.CurrentProblem.language"  required>
  
                        <label for="lastname"><b>description</b></label>
                        <textarea  name="description" rows="4" cols="100" [(ngModel)]="problemservice.CurrentProblem.description"></textarea>
                        <hr>
                        <button  type="submit" class="registerbtn" (click)="create(problemservice.CurrentProblem)">Save</button>
                        </div>
                        
                    </form>
                    
            </div>
        </div>
            </div>
          </div>
      </div>
      <hr>
      
      <div class="signin" style="text-align:center;padding: 1%">
  
          <h1>Admins Panel</h1>
          </div>

  


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>