<div class="demotext" style="background-color: blanchedalmond;">
    <div class="container" style="width: 50%; margin: 0 auto;background-color: blanchedalmond;">
        <table class="blueTable">
            <thead>
                <!-- <th>Topic Id</th> -->
                <th>Topic Name</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let t of allTopic">
                    <!-- <td>{{t.id}}</td> -->
                    <td>{{t.topicName}}</td>
                    <td style="text-align: center;"><a class="myButton" [href]="t.topicLink" class="myButton">Launch cource</a></td>
            </tbody>
        </table>
    </div>

</div>